<div class='kata' *ngFor="let user of users">
  <div>
    <p class="kata__info">PASSENGER INFO</p>
    <img class="kata__passenger" src="" />
    <p class='kata__name'>{{ user.name }}</p>
  
    <p class="kata__info">EMAIL</p>
    <p>{{ user.email }}</p>
  
    <p class="kata__info">PHONE</p>
    <p>{{ user.phone }}</p>
  
    <p class="kata__info">LOCATION</p>
    <p>{{ user.location }}</p>
  </div>
  
  <div class="kata__logo">
    <img class="kata__logo--img" src="./assets/img/paypal.png" />
    <img class="kata__logo--img" src="./assets/img/visa.jpg" />
    <img class="kata__logo--img" src="./assets/img/mastercard.png" />
    <img class="kata__logo--img" src="./assets/img/apple-pay.jpg" />
  </div>
</div>


